<div class="body" {{action 'toggle'}}>
  <h4>{{title}}</h4>
  <span class="subTitle">{{year}}</span>
  <a class="toggle-view">
    <i {{bindAttr class="isOpen:icon-chevron-down:icon-chevron-right"}}></i>
    <span> Open</span>
  </a>
</div>
<div {{bindAttr class="isOpen:open :actions"}}>
  <div class="content">
  <div class="left">
    <div class="plot">{{plot}}</div>
    <ul>
      <li class="genre">{{genres}}</li>
      <li class="runtime">Runtime: {{runtime}} Min</li>
    </ul>
  </div>
  <div class="right"><img src="{{unbound poster}}"></div>
  </div>
  <footer>
  {{#if inLibrary}}
    <a {{action 'playItem'}}><i class="icon-play"></i> Play</a>
  {{else}}
    <a {{action 'request'}}><i class="icon-cloud-download"></i> Add</a>
  {{/if}}
  </footer>
</div>
