{{#if title}}
  <h3>{{title}}</h3>
{{/if}}
<table class="table-condensed table-striped mittensWidth">
  {{#each this.movies}}
    <tr>
      <td>
        <div class="listInfo" id="{{imdb}}">
          <div class="listTitle">{{original_title}}</div>
          <div class="listDate">{{year}}</div>
          <div class="listExtra"></div>
        </div>
        <div class="listAddMovie" style="display:none;" id="buttons_{{imdb}}">
          <span class="label label-important listCancelButton" id="cancel_{{imdb}}">Cancel</span>
          <span class="label label-success listAddButton" id="add_{{imdb}}">Add Movie</span>
        </div>
      </td>
    </tr>
  {{/each}}
</table>
