{{#if this.results}}
{{#if title}}
  <h3>{{title}}</h3>
{{/if}}
<div class="listView">
  {{#each this.results}}
        <a class="listInfo" id="{{tvdbid}}">
          <span class="title">{{name}}</span>
          <span class="subText">{{first_aired}}</span>
          <div class="listExtra"></div>
        </a>
        <div class="listAdd" style="display:none;" id="buttons_{{tvdbid}}">
          <span class="label label-important listCancelButton" id="cancel_{{tvdbid}}">Cancel</span>
          <span class="label label-success listAddButton" id="add_{{tvdbid}}">Add Show</span>
        </div>
  {{/each}}
</div>
{{/if}}
